.form {
  display: grid;
  margin-top: 20px;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  border-radius: 3.2rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color: #9c88ff;
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid white;
  border-radius: 3.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 250ms;
}
.card-list {
  height: 100%;
  margin: 1rem auto;
}

.card {
  border: 1px solid #ddd;
  font-size: 1.4rem;
  border-radius: 2rem;
  padding: 0.7em;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-left:hover {
  cursor: pointer;
}
.card:hover {
  border: 1px solid "#9c88ff";
}
.star:hover {
  cursor: pointer;
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .input {
    margin-bottom: 0;
  }
  .card-list {
    width: 60%;
  }
}
